:root {
  --primary: #2d493b;
  --p100: #e9f2ed;
  --p200: #caded4;
  --p300: #aacbba;
  --p400: #8bb7a1;
  --p500: #6ba487;
  --p600: #54886e;
  --p700: #406954;
  --p800: #1a2921;
  --p900: #060a08;
  --secondary: #e1b199;
  --s100: #f8ede8;
  --s200: #edcfc0;
  --s300: #d59372;
  --s400: #ca754a;
  --s500: #ae5c33;
  --s600: #864728;
  --s700: #5f321c;
  --s800: #381d10;
  --s900: #100905;
  --tertiary: #0d3a72;
  --t100: #e8f1fc;
  --t200: #bad5f7;
  --t300: #8cb9f2;
  --t400: #5e9eed;
  --t500: #3182e7;
  --t600: #1769ce;
  --t700: #1251a0;
  --t800: #082344;
  --t900: #030b16;
  --grayscale: #f5f5f5;
  --g100: #dbdbdb;
  --g200: #c2c2c2;
  --g300: #a8a8a8;
  --g400: #8f8f8f;
  --g500: #757575;
  --g600: #5c5c5c;
  --g700: #424242;
  --g800: #292929;
  --g900: #0f0f0f;
}
:root[color-theme="light"] {
  --background: var(--grayscale);
  --color: var(--g900);
  --sidebar-active: var(--p700);
  --sidebar-default: var(--g400);
  --header: var(--grayscale);
  --logo: var(--primary);
  --tag-on: var(--p300);
  --tag-stroke: var(--p600);
  --card-date: var(--g600);
  --numberspan-default: var(--g900);
  --numberspan-active: var(--g100);
  --number-defualt: var(--g200);
  --number-active: var(--g900);
  --number-hovered: var(--g400);
  --info-wrap: var(--t200);
}
:root[color-theme="dark"] {
  --background: var(--p900);
  --color: var(--g100);
  --sidebar-active: var(--p400);
  --sidebar-default: var(--g400);
  --header: var(--p900);
  --logo: var(--p300);
  --tag-on: var(--p600);
  --tag-stroke: var(--p400);
  --card-date: var(--g300);
  --numberspan-default: var(--g100);
  --numberspan-active: var(--g900);
  --number-defualt: var(--g800);
  --number-active: var(--g300);
  --number-hovered: var(--g600);
  --info-wrap: var(--t800);
}
